

  <!-- Add Modal HTML -->
	<div id="addCongeModal" class="modal fade">
        
		<div class="modal-dialog">

            
			
			<div class="modal-content">
				<div  *ngIf="isSignedUp ; else signupForm ">
					<div class="alert alert-success"> 
					 <strong >Your registration is successful.</strong>  </div>
					 
					</div>
					<ng-template #signupForm>
			    	<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
					<div class="modal-header">						
						<h4 class="modal-title">Add Conge</h4>
						<button type="button" class="close" (click)="reloadPage()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">	
										
						
						<div class="form-group">
							<label for="dateDebut" class="form-label">Date debut </label>
                            <!--input type="text" class="form-control" name="dateDebut" [(ngModel)]="form.dateDebut" #dateDebut="ngModel" required-->
                            
                            <input type="date" class="form-control" data-date-format="mm-dd-yyyy"  name="dateDebut" [(ngModel)]="form.dateDebut" #dateDebut="ngModel" required>

                          
                            <!--div id="dateDebutHelper" class="form-text" class="text-muted">
                           Your Date Of Birth must be following this format : year-month-day (example : 1920-03-01)
                            </div-->
                            <div *ngIf="f.submitted && dateDebut.invalid">
                            <div *ngIf="dateDebut.errors.required" class="text-warning">date Debut is required</div>
                            </div>
						</div>

            

						<div class="form-group">
							<label for="dateFin" class="form-label">Date fin </label>
                            <!--input type="text" class="form-control" name="dateFin" [(ngModel)]="form.dateFin" #dateFin="ngModel" required-->
                            <input type="date" class="form-control" data-date-format="mm-dd-yyyy" name="dateFin" [(ngModel)]="form.dateFin" #dateFin="ngModel" required>
                           <!--div id="dateFinHelper" class="form-text" class="text-muted">
                           Your Date Of Birth must be following this format : year-month-day (example : 1920-03-01)
                            </div-->
                            <div *ngIf="f.submitted && dateFin.invalid">
                            <div *ngIf="dateFin.errors.required" class="text-warning">Date of Birth is required</div>
                            </div>
						</div>

            

            
						
						
						
						  <div class="form-group">
							<label for="type" class="form-label">Type </label>
							<div>
							<select class="form-control" name="type" [(ngModel)]="form.type" #type="ngModel" required>
							  <option disabled selected>Select type :</option>
							  <option value="demande_permission_repos">demande_permission_repos</option>
							  <option value="demande_permission_exceptionnelle">demande_permission_exceptionnelle</option>
							  <option value="demande_permission_maladie">demande_permission_maladie</option>
							</select></div>
							  <div *ngIf="f.submitted && type.invalid">
								  <div *ngIf="type.errors.required" class="text-warning" >Type is required</div>
							  </div>
							  </div>

					</div>

					


					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-success" [disabled]="!f.valid" value="Add">
						<div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
							Add failed!<br/>{{errorMessage}}
						  </div>
						  
					</div>
				</form>

				

				
               
				</ng-template>

				


					  

			
		        	</div>
		        </div>
	        </div>
        





<!----------------------------------------------------------------------------------------------------------------------->


<div class="container espace">
    <button class="nav-link buttonapp "   href="#addCongeModal"  data-toggle="modal" ><strong>ADD CONGE</strong></button>

    <div class="row">
        
        <div class="col-lg-4" *ngFor="let conge of ListConge;  index as i">
            <div class="card card-margin" >
                <div class="card-header no-border">
                    <h5 class="card-title"><strong>{{conge.type}}</strong></h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49 ">
                        <div class="widget-49-title-wrapper ">
                            <div *ngIf="conge.attente && conge.attenteFinale && conge.validationPrimaire && conge.validationFinale" class="widget-49-date-primary VP">
                                <span class="widget-49-date-day ">{{conge.idConge}}</span>
                                <!--span class="widget-49-date-month">apr</span-->
                            </div>

                            <div *ngIf="conge.attente && conge.validationPrimaire && !conge.attenteFinale" class="widget-49-date-primary Halfgreen">
                              <span class="widget-49-date-day ">{{conge.idConge}}</span>
                              <!--span class="widget-49-date-month">apr</span-->
                          </div>



                            <div *ngIf="conge.attenteFinale && !conge.validationFinale" class="widget-49-date-primary RP">
                              <span class="widget-49-date-day ">{{conge.idConge}}</span>
                              <!--span class="widget-49-date-month">apr</span-->
                          </div>

                          <div *ngIf="conge.attente && !conge.validationPrimaire" class="widget-49-date-primary RP">
                            <span class="widget-49-date-day ">{{conge.idConge}}</span>
                            <!--span class="widget-49-date-month">apr</span-->
                        </div>



                          <div *ngIf="!conge.attente" class="widget-49-date-primary Attente">
                            <span class="widget-49-date-day ">{{conge.idConge}}</span>
                            <!--span class="widget-49-date-month">apr</span-->
                          </div>

                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title"><strong>{{conge.dateDebut}}</strong> to <strong>{{conge.dateFin}}</strong></span>
                                <span class="widget-49-meeting-time">Date saisie : {{conge.dateSaisie}}</span>
                            </div>
                        </div>
                        <!--ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Expand module is removed</span></li>
                            <li class="widget-49-meeting-item"><span>Data migration is in scope</span></li>
                            <li class="widget-49-meeting-item"><span>Session timeout increase to 30 minutes</span></li>
                        </ol-->
                        
                        <div class="widget-49-meeting-action">
                            <a  *ngIf="add1 !== i"  data-target-color="bluegray" data-toggle="modal"  class="btn btn-sm btn-flash-border-primary" (click)="Next(i)"   >more details</a>
                       
                        <div *ngIf="add1 === i">
                             <a   href="#content" data-target-color="bluegray" data-toggle="modal"  class="btn btn-sm btn-flash-border-primary"  (click)="vueDetails()"  >more details</a>
                        </div>

                        
                          
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!--div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">MOM</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-warning">
                                <span class="widget-49-date-day">13</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">PRO-08235 Lexa Corp.</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Scheming module is removed</span></li>
                            <li class="widget-49-meeting-item"><span>App design contract confirmed</span></li>
                            <li class="widget-49-meeting-item"><span>Client request to send invoice</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-warning">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card card-margin">
                <div class="card-header no-border">
                    <h5 class="card-title">MOM</h5>
                </div>
                <div class="card-body pt-0">
                    <div class="widget-49">
                        <div class="widget-49-title-wrapper">
                            <div class="widget-49-date-success">
                                <span class="widget-49-date-day">22</span>
                                <span class="widget-49-date-month">apr</span>
                            </div>
                            <div class="widget-49-meeting-info">
                                <span class="widget-49-pro-title">PRO-027865 Opera module</span>
                                <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>
                            </div>
                        </div>
                        <ol class="widget-49-meeting-points">
                            <li class="widget-49-meeting-item"><span>Scope is revised and updated</span></li>
                            <li class="widget-49-meeting-item"><span>Time-line has been changed</span></li>
                            <li class="widget-49-meeting-item"><span>Received approval to start wire-frame</span></li>
                        </ol>
                        <div class="widget-49-meeting-action">
                            <a href="#" class="btn btn-sm btn-flash-border-success">View All</a>
                        </div>
                    </div>
                </div>
            </div>
        </div-->
    </div>
</div>



     <!--modaaaaal-->

     <div  class="modal fade" data-modal-color="" id="content"  data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
         
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">demande de conge ( id : {{this.idConge}} ) </h4>
                </div>
                <div class="modal-body" >
             
                  

                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
                <div class="container">
                <div class="row flex-lg-nowrap">
                 
                
                  <div class="col">
                    <div class="row">
                      <div class="col mb-3">
                        <div class="card">
                          <div class="card-body">
                            <div class="e-profile">
                              
                              <div id="pdf" class="tab-content pt-3">
                                <div class="tab-pane active">
                                  <form class="form"  novalidate="">
                                    <div class="row">
                                      <div class="col">
                                        <div class="row">
                                          <div class="col">
                                            <img class="img" src="https://www.femise.org/wp-content/uploads/2019/10/te%CC%81le%CC%81chargement-3.png" style="float: right;height:100px;">
                                            <div class="form-group" style="padding-top: 30px;">
                                                <p></p>

                                              <label><strong>Saisie le :</strong> </label>
                                              <p>{{this.dateSaisieString}}</p>

                                              <label><strong>Type de conge :</strong> </label>
                                              <p>{{this.type}}</p>
                
                                              <label><strong>Nom et Prenom :</strong> </label>
                                              <p>{{this.firstname}} {{this.lastname}}</p>
                
                                              <label><strong>Departement :</strong></label>
                                              <p>{{this.department}}</p>
                
                                              <label><strong>Date de conge :</strong></label>
                                              <p><strong>De</strong> {{this.dateDebut}} <strong>à </strong>{{this.dateFin}}</p>

                                              <label><strong>Numero de telephone :</strong></label>
                                              <p>{{this.phone}}</p>
                   
                                              
                                              <div class="aParent">
                                              <div   class="AP">
                                                <label><strong>La raison du refus Primaire :</strong></label>
                                                <p *ngIf="!this.validationPrimaire && this.attenteConge" class="cadre">{{this.avisPrimaire}}</p>
                                              </div>

                                              <div class="AF">
                                                <label><strong>Avis bureau administrative :</strong></label>
                                                <p  class="cadre">{{this.avisFinale}}</p>
                                              </div>

                                              </div>

                                              <label><strong>Validation Primaire par {{this.fullname}} à {{this.datevalidationPrimaireString}}</strong></label>
                                              <p></p>

                                              
                                              <hr class="line">
                                              

                                              
                                              <div class="row gutters SAForm">
                                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                                  <label style="border-bottom: 1px solid black;"><strong> Administration par {{this.usernameVF}} à {{this.datevalidationFinaleString}}</strong></label>                      
                                                </div>
                            
                                                
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="soldeThisYear"><strong>Solde This Year</strong></label>
                                                    <p>{{this.soldeThisYear}}</p>
                                                  </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="soldeYear_1"><strong>Solde Year_1</strong></label>
                                                    <p>{{this.soldeYear_1}}</p>
                                                  </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="soldeYear_2"><strong>Solde Year_2</strong></label>
                                                    <p>{{this.soldeYear_2}}</p>
                                                  </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="total"><strong>Total Solde</strong></label>
                                                    <p>{{this.total}}</p>
                                                  </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="nmbrDeJourConge"><strong>Nmbr De Jour Conge</strong></label>
                                                    <p>{{this.nmbrDeJourConge}}</p>
                                                  </div>
                                                </div>
                                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="RestDeJourConge"><strong>Rest De Jour Conge</strong></label>
                                                    <p>{{this.RestDeJourConge}}</p>
                                                  </div>
                                                </div>
                                                <!--div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                                  <div class="form-group">
                                                    <label for="avisFinale"><strong>Avis Service Administratif</strong></label>
                                                    <p>{{this.avisFinale}}</p>
                                                  </div>
                                                </div-->

                                              </div>
                   

                                            </div>
                                          </div>
                                    
                                        </div>
                                       
                                      </div>
                                    </div>
                                   
                                  </form>
                
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                
                
                    </div>
                
                  </div>
                </div>
                </div>
          

                </div>
                <button *ngIf="this.attenteConge && this.attenteFinale && this.validationPrimaire && this.validationFinale" style="background-color: #5482be; height: 25px;" (click)="download()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
               Download </button>
                <div style="max-height: 190px;" class="modal-footer">
                 
               
                     
                    <button type="button" style=" margin-top: -25px; margin-bottom: -20px;" class="btn btn-link" data-dismiss="modal" (click)="reloadPage()">Close</button>
                </div>

            </div>
         
        </div>
     </div>
   

   








 

    