<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>


<script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>
</head>
<body>










	<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<!--a class="navbar-brand" style="color:white;">Admins Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
		   <ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				 <!--a class="nav-link" href="#addEmployeeModal" >Add Admin<span class="sr-only">(current)</span></a>
				 <button class="nav-link "   href="#addEmployeeModal"  data-toggle="modal" >ADD EMPLOYEE</button>

			  </li> 
		   </ul>
		   <form class="form-inline my-2 my-lg-0">
			
			  <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
			   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
			   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			  </svg>
		   </form>
		</div>
	  </nav-->

    <div class="container123 " >
		<div> <!-- class="table-responsive"-->
			
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-lg-12 card-margin">
							<div class="card search-form">
								<div class="card-body p-0">
									<form id="search-form">
										<div class="row">
											<div class="col-12">
												<div class="row no-gutters">
													<div class="col-lg-3 col-md-3 col-sm-12 p-0">
														<!--select class="form-control" id="exampleFormControlSelect1">
															<option>Location</option>
															<option>London</option>
															<option>Boston</option>
															<option>Mumbai</option>
															<option>New York</option>
															<option>Toronto</option>
															<option>Paris</option>
														</select-->
														<button class="nav-link "   href="#addEmployeeModal"  data-toggle="modal" ><strong>ADD EMPLOYEE</strong></button>

													</div>


													
													<div class="col-lg-8 col-md-6 col-sm-12 p-0">
														<!--input type="text" placeholder="Search..." class="form-control" id="search" name="search"-->
														<input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
														name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
													</div>
													<div class="col-lg-1 col-md-3 col-sm-12 p-0">
														<button type="submit" class="btn btn-base">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!--div class="col-xs-6 ">
							<h2>Manage <b>Employees</b></h2>
						</div-->
						<div class="col-xs-6">
							<!--a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a-->
							<!--a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a-->						
						</div>
					</div>
				</div>
				<div class="tableBorder">
				<table class="table table-striped table-hover " style=" ">
					<thead>
						<tr>
							<!--th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th-->
							<th>matricule</th>
							<th>first Name</th>
							<th>last Name</th>
							<th>work field</th>
							<th>email Address</th>
							<th>user name</th>
							<!--th>address</th-->
							<th>Phone</th>

							<!--th>role</th-->
							<!--th>salary</th-->
							<th>dateBirthUser</th>

							<th>gender</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody *ngFor="let employee of employees">
						<tr>
							<!--td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
							</td-->
							<td>{{employee?.matricule}}</td>
							<td>{{employee?.firstNameUser}}</td>
							<td>{{employee?.lastNameUser}}</td>
							<td>{{employee?.workfieldClient}}</td>
							<td>{{employee?.emailAddressUser}}</td>
							<td>{{employee?.usernameUser}}</td>
							<!--td>{{employee?.addressUser}}</td-->
							<td>{{employee?.phoneNumberUser}}</td>

							<!--td>{{employee?.roleUser}}</td-->
							<!--td>{{employee?.salary}}</td-->
							<td>{{employee?.dateBirthUser}}</td>

							<td>{{employee?.genderClient}}</td>
							<td>
								<a href="#editEmployeeModal" class="edit" data-toggle="modal"(click)="onOpenModal(employee,'edit')" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#deleteEmployeeModal" class="delete" data-toggle="modal"(click)="onOpenModal(employee,'delete')" ><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			
			</div>
		</div>        
    </div>
	<!-- Add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			
			<div class="modal-content">
				<div  *ngIf="isSignedUp ; else signupForm ">
					<div class="alert alert-success"> 
					 <strong >Your registration is successful.</strong>  </div>
					 
					</div>
					<ng-template #signupForm>
			    	<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
					<div class="modal-header">						
						<h4 class="modal-title">Add Employee</h4>
						<button type="button" class="close" (click)="reloadPage()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">	
						<div class="form-group">
							<label for="name">matricule</label>
							<input type="text" class="form-control" name="matricule" [(ngModel)]="form.matricule" #Latitude="ngModel" required />
							<!--div *ngIf="f.submitted && matricule.invalid">
							  <div *ngIf="matricule.errors.required" class="text-warning">Latitude is required</div>
							</div-->
						</div>				
						<div class="form-group">
							<label for="name">Firstname</label>
							<input type="text" class="form-control" name="firstname" [(ngModel)]="form.firstname" #firstname="ngModel" required />
							<div *ngIf="f.submitted && firstname.invalid">
							  <div *ngIf="firstname.errors.required" class="text-warning">Firstname is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name">LastName</label>
                            <input type="text" class="form-control" name="lastname" [(ngModel)]="form.lastname" #lastname="ngModel" required />
                            <div *ngIf="f.submitted && lastname.invalid">
                            <div *ngIf="lastname.errors.required" class="text-warning" >Lastname is required</div>
                            </div>
						</div>
						<div class="form-group">
							<label for="dateofbirth" class="form-label">Date of Birth </label>
                            <input type="text" class="form-control" name="dateofbirth" [(ngModel)]="form.dateofbirth" #dateofbirth="ngModel" required>
                           <div id="dateofbirthHelper" class="form-text" class="text-muted">
                           Your Date Of Birth must be following this format : year-month-day (example : 1920-03-01)
                            </div>
                            <div *ngIf="f.submitted && dateofbirth.invalid">
                            <div *ngIf="dateofbirth.errors.required" class="text-warning">Date of Birth is required</div>
                            </div>
						</div>
						
						<div class="form-group">
							<label for="username">Username</label>
                           <input type="text" class="form-control" name="username" [(ngModel)]="form.username" #username="ngModel" required />
                          <div *ngIf="f.submitted && username.invalid">
                          <div *ngIf="username.errors.required" class="text-warning" >Username is required</div>
                            </div>
						</div>
						
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" name="email" [(ngModel)]="form.email" #email="ngModel" required email />
							<div *ngIf="f.submitted && email.invalid">
							  <div *ngIf="email.errors.required" class="text-warning">Email is required</div>
							</div>
						  </div>
						  <div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
							  required minlength="6" />
							<div *ngIf="f.submitted && password.invalid">
							  <div *ngIf="password.errors.required" class="text-warning">Password is required</div>
							  <div *ngIf="password.errors.minlength" class="text-warning">Password must be at least 6 characters</div>
							</div>
						  </div>
						  <div class="form-group">
							<label for="gender" class="form-label">Gender </label>
							<div>
							<select class="form-control" name="gender" [(ngModel)]="form.gender" #gender="ngModel" required>
							  <option disabled selected>Select your gender :</option>
							  <option value="FEMALE">female</option>
							  <option value="MALE">male</option>
							</select></div>
							  <div *ngIf="f.submitted && gender.invalid">
								  <div *ngIf="gender.errors.required" class="text-warning" >Gender is required</div>
							  </div>
							  </div>
							  <div class="form-group">
							  <label for="workfield" class="form-label">Work Field </label>
							  <div><select class="form-control" aria-label="Default select example" name="workfield" [(ngModel)]="form.workfield" #workfield="ngModel" required>
								<option disabled selected >Select your Work Field :</option>
								<option value="Employee">Employee</option>
								<option value="Autre">Autre</option>
							  </select></div>
								 <div *ngIf="f.submitted && workfield.invalid">
								  <div *ngIf="workfield.errors.required"class="text-warning">Work Field is required</div>
							  </div>
								</div>
								<div class="form-group">
								  <label for="phone">Phone Number</label>
								  <input type="text" class="form-control" name="username" [(ngModel)]="form.phone" #phone="ngModel" required minlength="8" />
								  <div *ngIf="f.submitted && phone.invalid">
									<div *ngIf="phone.errors.required"class="text-warning">Phone is required</div>
								  </div>
								</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-success" [disabled]="!f.valid" value="Add">
						<div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
							Signup failed!<br/>{{errorMessage}}
						  </div>
					</div>
				</form>
               
				</ng-template>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->

	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form #editForm="ngForm">
					<div class="modal-header">						
						<h4 class="modal-title">Edit Employee</h4>
						<button type="button" class="close" (click)="reloadPage()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<input type="hidden" ngModel="{{editdeclient?.idUser}}" name="idUser" class="form-control" id="idUser" placeholder="Email">
                <input type="hidden" ngModel="{{editdeclient?.roleUser}}" name="roleUser" class="form-control" id="roleUser" placeholder="Email">
                <input type="hidden" ngModel="{{editdeclient?.updatedPassword}}" name="updatedPassword" class="form-control" id="updatedPassword" placeholder="Email">
                <input type="hidden" ngModel="{{editdeclient?.nbaccessUser}}" name="nbaccessUser" class="form-control" id="nbaccessUser" placeholder="Email">
            	<input type="hidden" ngModel="{{editdeclient?.enabled}}" name="enabled" class="form-control" id="enabled" placeholder="Email">
                <input type="hidden" ngModel="{{editdeclient?.locked}}" name="locked" class="form-control" id="locked" placeholder="Email">
               
				
                <input type="hidden" ngModel="{{editdeclient?.subscriptionDate}}" name="subscriptionDate" class="form-control" id="subscriptionDate" placeholder="Email">
                <input type="hidden" ngModel="{{editdeclient?.subMonth}}" name="subMonth" class="form-control" id="subMonth" placeholder="Email">
							<label for="matricule">matricule</label>
							<input type="text" class="form-control" name="matricule" ngModel="{{editdeclient?.matricule}}" #matricule="ngModel" required />
							<div *ngIf="editForm.submitted && matricule.invalid">
							  <div *ngIf="matricule.errors.required" class="text-warning">Latitude is required</div>
							</div>
						</div>				
						<div class="form-group">
							<label for="name">Firstname</label>
							<input type="text" class="form-control" name="firstNameUser" ngModel="{{editdeclient?.firstNameUser}}" #firstname="ngModel" required />
							<div *ngIf="editForm.submitted && firstname.invalid">
							  <div *ngIf="firstname.errors.required" class="text-warning">Firstname is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name">LastName</label>
                            <input type="text" class="form-control" name="lastNameUser" ngModel="{{editdeclient?.lastNameUser}}" #lastname="ngModel" required />
                            <div *ngIf="editForm.submitted && lastname.invalid">
                            <div *ngIf="lastname.errors.required" class="text-warning" >Lastname is required</div>
                            </div>
						</div>
						<div class="form-group">
							<label for="dateofbirth" class="form-label">Date of Birth </label>
                            <input type="text" class="form-control" name="dateBirthUser" ngModel="{{editdeclient?.dateBirthUser}}" #dateofbirth="ngModel" required>
                           <div id="dateofbirthHelper" class="form-text" class="text-muted">
                           Your Date Of Birth must be following this format : year-month-day (example : 1920-03-01)
                            </div>
                            <div *ngIf="editForm.submitted && dateofbirth.invalid">
                            <div *ngIf="dateofbirth.errors.required" class="text-warning">Date of Birth is required</div>
                            </div>
						</div>
						
						<div class="form-group">
							<label for="username">Username</label>
                           <input type="text" class="form-control" name="usernameUser" ngModel="{{editdeclient?.usernameUser}}" #username="ngModel" required />
                          <div *ngIf="editForm.submitted && username.invalid">
                          <div *ngIf="username.errors.required" class="text-warning" >Username is required</div>
                            </div>
						</div>
						
						<div class="form-group">
							<label for="email">Email</label>
							<input type="text" class="form-control" name="emailAddressUser" ngModel="{{editdeclient?.emailAddressUser}}"  #email="ngModel" required email />
							<div *ngIf="editForm.submitted && email.invalid">
							  <div *ngIf="email.errors.required" class="text-warning">Email is required</div>
							</div>
						  </div>
						  <div class="form-group">
							<label for="password">Password</label>
							<input type="password" class="form-control" name="passwordUser" ngModel="{{editdeclient?.passwordUser}}" #password="ngModel"
							  required minlength="6" />
							<div *ngIf="editForm.submitted && password.invalid">
							  <div *ngIf="password.errors.required" class="text-warning">Password is required</div>
							  <div *ngIf="password.errors.minlength" class="text-warning">Password must be at least 6 characters</div>
							</div>
						  </div>
						  <div class="form-group">
							<label for="gender" class="form-label">Gender </label>
							<div>
							<select class="form-control" name="genderClient" ngModel="{{editdeclient?.genderClient}}" #gender="ngModel" required>
							  <option disabled selected>Select your gender :</option>
							  <option value="FEMALE">female</option>
							  <option value="MALE">male</option>
							</select></div>
							  <div *ngIf="editForm.submitted && gender.invalid">
								  <div *ngIf="gender.errors.required" class="text-warning" >Gender is required</div>
							  </div>
							  </div>
							  <div class="form-group">
							  <label for="workfield" class="form-label">Work Field </label>
							  <div><select class="form-control" aria-label="Default select example" name="workfieldClient" ngModel="{{editdeclient?.workfieldClient}}"  #workfield="ngModel" required>
								<option disabled selected >Select your Work Field :</option>
								<option value="Employee">Employee</option>
								<option value="Autre">Autre</option>
							  </select></div>
								 <div *ngIf="editForm.submitted && workfield.invalid">
								  <div *ngIf="workfield.errors.required"class="text-warning">Work Field is required</div>
							  </div>
								</div>
								
								<div class="form-group">
								  <label for="phone">Phone Number</label>
								  <input type="text" class="form-control" name="phoneNumberUser" ngModel="{{editdeclient?.phoneNumberUser}}" #phone="ngModel" required minlength="8" />
								  <div *ngIf="editForm.submitted && phone.invalid">
									<div *ngIf="phone.errors.required"class="text-warning">Phone is required</div>
								  </div>
								</div>
					</div>
										
					
					

					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save" (click)="onUpdateEmployees (editForm.value)"  >
						<div *ngIf="isSignUpFailed" class="alert alert-warning">
							add failed!<br/>{{errorMessage}}
						  </div>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Employee</h4>
						<button type="button" class="close" (click)="reloadPage()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete these Records?</p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" (click)="reloadPage()" data-dismiss="modal" value="Cancel">
						<input type="submit" class="btn btn-danger" value="Delete" data-dismiss="modal" (click)="onDeleteShelves(deleteclient?.idUser)">
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>