
body {
    background: #f5f5f5;
  }
  
  a {
    cursor: pointer;
  }
  
  .navbar {
    margin-bottom: 30px;
  }
  
  #hidden_div {
    display: none;
}

.bg-dark {
  background-color: #5d6164!important;
}



  .card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    margin-bottom: 30px;
  }
  
  .w-60 {
    width: 60px;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 10px;
    font-weight: 600;
  }
  
  .social-links li a {
    -webkit-border-radius: 50%;
    background-color:  #e74c3c;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
  }
  
  a {
    color: #707070;
  }
  i {
  color: white;
  }
  
  a {
  color: white;
  }
  
  body{
    margin-top:20px;
    background: #f5f5f5;
}
.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.w-60 {
    width: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: 600;
}
.social-links li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89,206,181,.85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}

p {
  font-size: 7.5px;
  margin-left: -15px;
  line-height: 22px;
  font-family: nexa_bookregular;
  color: #263547;
  font-weight: 1000;
}

a {
    color: #707070;
}

.btn-primary {
  color: #fff;
  background-color: #ddb76e;
  border-color: #ddb76e;
}

/**search bar**/


.search-form {
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 0.5pc;

}

.search-form input {
  height: 100%;
  background: transparent;
  border: 0;
  display: block;
  width: 100%;
  padding: 1.4rem;
  height: 80%;
  font-size: 14px;
}

.search-form select {
  background: transparent;
  border: 0;
  padding: 1rem;
  height: 100%;
  font-size: 1rem;
}

.search-form select:focus {
  border: 0;
}

.search-form button {
  height: 50%;
  width: 100%;
  font-size: 13px;
  color: #5a7a9a;

}

.search-form button svg {
  width: 24px;
  height: 24px;
}

.search-body {
  margin-bottom: 2rem;
}

.search-body .search-filters .filter-list {
  margin-bottom: 2rem;
}

.search-body .search-filters .filter-list .title {
  color: #3c4142;
  margin-bottom: 1rem;
}

.search-body .search-filters .filter-list .filter-text {
  color: #727686;
}

.search-body .search-result .result-header {
  margin-bottom: 2rem;
}

.search-body .search-result .result-header .records {
  color: #3c4142;
}

.search-body .search-result .result-header .result-actions {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-body .search-result .result-header .result-actions .result-sorting {
  display: flex;
  align-items: center;
}

.search-body .search-result .result-header .result-actions .result-sorting span {
  flex-shrink: 0;
  font-size: 0.8125rem;
}

.search-body .search-result .result-header .result-actions .result-sorting select {
  color: #68CBD7;
}

.search-body .search-result .result-header .result-actions .result-sorting select option {
  color: #3c4142;
}


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1140px;
    padding-top: 70px;
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .search-body .search-filters {
    display: flex;
  }
  .search-body .search-filters .filter-list {
    /* margin-top:2rem; */
    margin-right: 1rem;
  }
}

@media (min-width: 992px){
  .col-lg-2 {
      flex: 0 0 16.66667%;
      max-width: 16.66667%;
  }
  }




  .card-margin {
    margin-bottom: 1.875rem;
}
.card {
    border: 0;
    box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
    -ms-box-shadow: 0px 0px 10px 0px rgba(82, 63, 105, 0.1);
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 9px;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}



