<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">Deliverers Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
       <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
             <a class="nav-link" (click)="onOpenModal(null, 'add')">Add Deliverer<span class="sr-only">(current)</span></a>
          </li>
       </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search deliverers..." required>
       </form>
    </div>
  </nav>
  <div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body row">
             <div class="col-6">
                <a><img src="assets/images/avatar.jpg" alt="" class="img-fluid rounded-circle w-60"></a>
             </div>
             <div class="col-6 card-title align-self-center mb-0">
                <h5>{{employee?.firstNameUser}} {{employee?.lastNameUser}}</h5>
                <div *ngIf="employee?.availableDeliverer == true "> <p class="text-success">Available</p>  </div>
                <div *ngIf="employee?.availableDeliverer == false "> <p class="text-danger">Not Available</p> </div>
             </div>
             <div *ngIf="employee?.delivererOfTheMonthDeliverer == true "> <p class="p-1 mb-1 bg-secondary text-white"> Elected as Deliverer of the month </p> </div>
          </div>
          <ul class="list-group list-group-flush">
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong>Email : </strong>{{employee?.emailAddressUser}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Phone : </strong> {{employee?.phoneNumberUser}}</li>
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i><strong>Salary : </strong> {{employee?.salary}}</li>
             <li class="list-group-item"><i class="fa fa-phone float-right"></i><strong>Bonus : </strong> {{employee?.bonusDeliverer}}</li>
          </ul>
          <div class="card-body">
             <div class="float-right btn-group btn-group-sm">
                <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
             </div>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Add Employee Modal -->
  <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addEmployeeModalLabel">Add Deliverer</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddEmloyee(addForm)">
            <div class="form-group">
               <label for="firstNameUser">Last Name</label>
               <input type="text" ngModel name="firstNameUser" class="form-control" id="firstNameUser" placeholder="First Name" required>
            </div>
            <div class="form-group">
                <label for="lastNameUser">First Name</label>
                <input type="text" ngModel name="lastNameUser" class="form-control" id="lastNameUser" placeholder="Last Name" required>
             </div>
             <div class="form-group">
                <label for="usernameUser">Username</label>
                <input type="text" ngModel name="usernameUser" class="form-control" id="usernameUser" placeholder="Username" required>
             </div>
            <div class="form-group">
               <label for="emailAddressUser">Email Address</label>
               <input type="email" ngModel name="emailAddressUser" class="form-control" id="emailAddressUser" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label for="phoneNumberUser">Phone</label>
               <input type="text" ngModel name="phoneNumberUser" class="form-control" id="phoneNumberUser" placeholder="Phone" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
    </div>
  
  <!-- Edit Modal -->
  <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeEditModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Deliverer {{editEmployee?.firstNameUser}} {{editEmployee?.lastNameUser}}</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <form #editForm="ngForm">
                <div class="form-group">
                   <label for="firstNameUser">Fisrt Name</label>
                   <input type="text" ngModel="{{editEmployee?.firstNameUser}}" name="firstNameUser" class="form-control" id="firstNameUser" placeholder="Name">
                </div>
                <div class="form-group">
                    <label for="lastNameUser">Last Name</label>
                    <input type="text" ngModel="{{editEmployee?.lastNameUser}}" name="lastNameUser" class="form-control" id="lastNameUser" placeholder="Name">
                 </div>
                <input type="hidden" ngModel="{{editEmployee?.usernameUser}}" name="usernameUser" class="form-control" id="usernameUser" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.idUser}}" name="idUser" class="form-control" id="idUser" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.addressUser}}" name="addressUser" class="form-control" id="addressUser" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.roleUser}}" name="roleUser" class="form-control" id="roleUser" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.updatedPassword}}" name="updatedPassword" class="form-control" id="updatedPassword" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.nbaccessUser}}" name="nbaccessUser" class="form-control" id="nbaccessUser" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.salary}}" name="salary" class="form-control" id="salary" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.enabled}}" name="enabled" class="form-control" id="enabled" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.locked}}" name="locked" class="form-control" id="locked" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.dateBirthUser}}" name="dateBirthUser" class="form-control" id="dateBirthUser" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.Latitude}}" name="Latitude" class="form-control" id="Latitude" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.Longitude}}" name="Longitude" class="form-control" id="Longitude" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.bonusDeliverer}}" name="bonusDeliverer" class="form-control" id="bonusDeliverer" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.delivererOfTheMonthDeliverer}}" name="delivererOfTheMonthDeliverer" class="form-control" id="delivererOfTheMonthDeliverer" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.availableDeliverer}}" name="availableDeliverer" class="form-control" id="availableDeliverer" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.score_deliverer}}" name="score_deliverer" class="form-control" id="score_deliverer" placeholder="Email">
                <input type="hidden" ngModel="{{editEmployee?.distanceDeliverer}}" name="distanceDeliverer" class="form-control" id="distanceDeliverer" placeholder="Email">

                <div class="form-group">
                   <label for="emailAddressUser">Email Address</label>
                   <input type="email" ngModel="{{editEmployee?.emailAddressUser}}" name="emailAddressUser" class="form-control" id="emailAddressUser" placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="passwordUser">Password</label>
                    <input type="password" ngModel="{{editEmployee?.passwordUser}}" name="passwordUser" class="form-control" id="passwordUser">
                 </div>
                <div class="form-group">
                   <label for="phoneNumberUser">Phone</label>
                   <input type="text" ngModel="{{editEmployee?.phoneNumberUser}}" name="phoneNumberUser" class="form-control" id="phoneNumberUser" placeholder="Phone">
                </div>
                <div class="modal-footer">
                   <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                   <button (click)="onUpdateEmloyee(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
                </div>
             </form>
          </div>
       </div>
    </div>
  </div>
  
  <!-- Delete Modal -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Deliverer</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete deliverer {{deleteEmployee?.firstNameUser}} {{deleteEmployee?.lastNameUser}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteEmloyee(deleteEmployee?.idUser)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no employees -->
  <div *ngIf="employees?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO DELIVERERS!</h4>
    <p>No Deliverers were found.</p>
  </div>
  </div>