<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Bootstrap CRUD Data Table for Database with Modal Form</title>


<script defer>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
});
</script>
</head>
<body>

	<!--nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<!--a class="navbar-brand" style="color:white;">Admins Manager</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
		   <ul class="navbar-nav mr-auto">
			  <li class="nav-item active">
				 <!--a class="nav-link" href="#addEmployeeModal" >Add Admin<span class="sr-only">(current)</span></a>
				 <button class="nav-link"  href="#addEmployeeModal"  data-toggle="modal" >ADD DEPARTMENTS</button>

			  </li> 
		   </ul>
		   <form class="form-inline my-2 my-lg-0">
			
			  <input type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
			   name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
			   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
				<path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
			  </svg>
		   </form>
		</div>
	  </nav-->

	<!--button class="addbtn" mat-stroked-button color="warn" href="#addEmployeeModal"  data-toggle="modal" >Ajouter</button-->
    <div class="container123">
		<div > <!--class="table-responsive"-->
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">

						<div class="col-lg-12 card-margin">
							<div class="card search-form">
								<div class="card-body p-0">
									<form id="search-form">
										<div class="row">
											<div class="col-12">
												<div class="row no-gutters">
													<div class="col-lg-3 col-md-3 col-sm-12 p-0">
														<!--select class="form-control" id="exampleFormControlSelect1">
															<option>Location</option>
															<option>London</option>
															<option>Boston</option>
															<option>Mumbai</option>
															<option>New York</option>
															<option>Toronto</option>
															<option>Paris</option>
														</select-->
														<button class="nav-link "  href="#addDepartmentModal"   data-toggle="modal" ><strong>ADD DEPARTMENT</strong></button>

													</div>


													
													<div class="col-lg-8 col-md-6 col-sm-12 p-0">
														<!--input type="text" placeholder="Search..." class="form-control" id="search" name="search"-->
														<input type="search" (ngModelChange)="searchDepartment(key.value)" #key="ngModel" ngModel
														name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search employees..." required>
													</div>
													<div class="col-lg-1 col-md-3 col-sm-12 p-0">
														<button type="submit" class="btn btn-base">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
														</button>
													</div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						<!--div class="col-xs-6">
							<h2>Manage <b>Department</b></h2>
						</div-->
						<div class="col-xs-6">
							<!--a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Add New Employee</span></a>
						

							<!--a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a-->						
						
							

						</div>
						
					</div>
				</div>
				<div>
				<div class="tableBorder">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<!--th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th-->
							<th>id</th>
							<th>nom Departement</th>
							<th>matricule Boss</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody *ngFor="let department of Department">
						<tr>
							<!--td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
							</td-->
							<td>{{department?.idDepartement}}</td>
							<td>{{department?.nomDepartement}}</td>
							<td>{{department?.matriculeBoss}}</td>
							
							<td>
								<!--a class="shop_now_btn" (click)="onOpenModal(department,'delete')">DELETE</a-->
								<a href="#editDepartmentModal" class="edit" data-toggle="modal"(click)="onOpenModal(department,'edit')" ><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
								<a href="#deleteDepartmentModal" class="delete" data-toggle="modal" (click)="onOpenModal(department,'delete')"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
							</td>
						</tr>
						
					</tbody>
				</table>
			</div>	
		</div>
				<!--div class="clearfix">
					<div class="hint-text">Showing <b>5</b> out of <b>25</b> entries</div>
					<ul class="pagination">
						<li class="page-item disabled"><a href="#">Previous</a></li>
						<li class="page-item"><a href="#" class="page-link">1</a></li>
						<li class="page-item"><a href="#" class="page-link">2</a></li>
						<li class="page-item active"><a href="#" class="page-link">3</a></li>
						<li class="page-item"><a href="#" class="page-link">4</a></li>
						<li class="page-item"><a href="#" class="page-link">5</a></li>
						<li class="page-item"><a href="#" class="page-link">Next</a></li>
					</ul>
				</div-->
			</div>
		</div>        
    </div>
	<!-- Add Modal HTML -->
	<div id="addDepartmentModal" class="modal fade">
		<div class="modal-dialog">
			
			<div class="modal-content">
				<div  *ngIf="isSignedUp ; else signupForm ">
					<div class="alert alert-success"> 
					 <strong >Your registration is successful.</strong>  
					 
					</div>
					
					</div>
					<ng-template #signupForm>
			    	<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
					<div class="modal-header">						
						<h4 class="modal-title">Add Departement</h4>
						<button type="button" class="close" (click)="reloadPage()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<div class="form-group">
							<label for="name">Departement Name</label>
							<input type="text" class="form-control" name="firstname" [(ngModel)]="form.nomDepartement" #nomDepartement="ngModel" required />
							<div *ngIf="f.submitted && nomDepartement.invalid">
							  <div *ngIf="nomDepartement.errors.required" class="text-warning">Departement Name is required</div>
							</div>
						</div>
						<div class="form-group">
							<label for="name">matricule Boss</label>
                            <input type="text" class="form-control" name="lastname" [(ngModel)]="form.matriculeBoss" #matriculeBoss="ngModel" required />
                            <div *ngIf="f.submitted && matriculeBoss.invalid">
                            <div *ngIf="matriculeBoss.errors.required" class="text-warning" >matricule Boss is required</div>
                            </div>
						</div>
						
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-success" [disabled]="!f.valid" value="Add">
						<div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
							add failed!<br/>{{errorMessage}}
						  </div>
					</div>
				</form>
      
				</ng-template>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editDepartmentModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form #editForm="ngForm">
					<div class="modal-header">						
						<h4 class="modal-title">Edit Department</h4>
						<button type="button" class="close" (click)="reloadPage()" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<input type="hidden" ngModel="{{editdepartment?.idDepartement}}" name="idDepartement" class="form-control" id="idDepartement" placeholder="idDepartement">
					
						<div class="form-group">
							<label for="nomDepartement">Name Department</label>
							<input type="text" ngModel="{{editdepartment?.nomDepartement}}" name="nomDepartement" id="nomDepartement" placeholder="{{editdepartment?.nomDepartement}}" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="matriculeBoss" >matricule Boss</label>
							<input type="text" ngModel="{{editdepartment?.matriculeBoss}}" name="matriculeBoss" id="matriculeBoss" placeholder="{{editdepartment?.matriculeBoss}}" class="form-control" required>
						</div>
						<!--div class="form-group">
							<label>Address</label>
							<textarea class="form-control" required></textarea>
						</div>
						<div class="form-group">
							<label>Phone</label>
							<input type="text" class="form-control" required>
						</div-->					
					</div>
					<!--div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save" data-dismiss="modal"  (click)="onUpdateDepartments(editForm.value)" >
					</div-->

					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-info" value="Save" (click)="onUpdateDepartments(editForm.value)" >
						<div *ngIf="isSignUpFailed" class="alert alert-warning">
							add failed!<br/>{{errorMessage}}
						  </div>
					</div>

					<!--div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-success" [disabled]="!f.valid" value="Add">
						<div *ngIf="f.submitted && isSignUpFailed" class="alert alert-warning">
							add failed!<br/>{{errorMessage}}
						  </div>
					</div-->

				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteDepartmentModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form>
					<div class="modal-header">						
						<h4 class="modal-title">Delete Departement</h4>
						<button type="button" (click)="reloadPage()" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">					
						<p>Are you sure you want to delete this Department? <strong> {{deletedepartment?.nomDepartement}} </strong> </p>
						<p class="text-warning"><small>This action cannot be undone.</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" (click)="reloadPage()" value="Cancel">
						<input type="submit" class="btn btn-danger" data-dismiss="modal" value="Delete" (click)="onDeleteShelves(deletedepartment?.idDepartement)" >
					</div>
				</form>
			</div>
		</div>
	</div>


<!-------------------->


</body>
</html>