<div class="cart-page-content page-section-padding">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="cart_title">
                    <h4>Shopping Cart</h4>
                </div>
                <div class="table-responsive">
                    <table class="cart-table text-center">
                        <thead>
                            <tr id="cart_th">
                                <th>#</th>
                                <th>Image</th>
                                <th>Product name</th>
                                <th>QUANTITY</th>
                                <th>Price</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>
                                    <a href="#"><img alt="" class="img-responsive" src="assets/images/cartpage/cart-product-1.png"></a>
                                </td>
                                <td>
                                    <h6><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                                </td>
                                <td>
                                    <form id="qua_in" action="action_page.php">
                                        <input type="number" value="1" name="quantity" min="1" max="5">
                                    </form>
                                </td>
                                <td>
                                    <div class="cart-price">$104.99</div>
                                </td>
                                <td>
                                    <div class="cart-subtotal">$104.99</div>
                                </td>
                                <td><i class="fa fa-trash"></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>
                                    <a href="#"><img alt="" class="img-responsive" src="assets/images/cartpage/cart-product-2.png"></a>
                                </td>
                                <td>
                                    <h6><a href="#">Lorem ipsum dolor sit amet,</a></h6>
                                </td>
                                <td>
                                    <form id="qua_in_2" action="action_page.php">
                                        <input type="number" value="1" name="quantity" min="1" max="10">
                                    </form>
                                </td>
                                <td>
                                    <div class="cart-price">$85.99</div>
                                </td>
                                <td>
                                    <div class="cart-subtotal">$85.99</div>
                                </td>
                                <td><i class="fa fa-trash"></i></td>
                            </tr>
                            <tr id="total_colspan">
                                <td colspan="3" class="text-left">total</td>
                                <td>
                                    2
                                </td>
                                <td>
                                    190.98$
                                </td>
                                <td colspan="2">
                                    <a class="checkPageBtn" href="#">add to wishlist</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div> 